<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('./partials/head') %>
    <title>Homepage</title>
   <%- include('./partials/script') %>
</head>
<body>
    <%- include('./partials/nav') %>
    <%= user ? JSON.stringify(user) : "No user found" %>
</body>
</html>